body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    background-color: #004E92;
    color: white;
    padding: 1em 0;
    text-align: center;
}
.logo {
    width: 60px;
    margin-top: 10px;
}
h1, h2 {
    margin: 0.5em;
}
.form-section {
    background-color: #ffffffc9;
    margin: 3em auto;
    padding: 2em;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
input, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}
button {
    background-color: #004E92;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}